.App {
  text-align: center;
}
button{
  height: 30px;
  width: 80px;
  border: none;
  background-color: rgb(36, 66, 66);
  border-radius: 8px;
  color: white;
}
h1{
  color: rgb(36, 66, 66);
}
textarea{
  border-color:rgb(36, 66, 66) ;
}
.tittle{
  color: rgb(36, 66, 66) ;
}

